.japan {
    position: relative;
    width: 500px;
    height: 250px;
    border: 2px solid black;
    z-index: 1px;
    left: 500px;

}


.red {
    background-color: red;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    z-index: 2px;
    top: 130px;
    left: 675px;
}

























































































