.main {
          height: auto;
          width: 100%;



}
.container {
          height: auto;
          width: 100%;
          display: flex;
          /* flex-direction: row; */
}



.bl {
          height: 200px;
          width: 30%;
          border: 2px rgb(184, 184, 184) solid;
          margin: 2%;
          display: inline-block;
          
}
h1 {
          text-align: center;
}

@media (min-width:762px) and (max-width:1199px )
{
          .container {
                    height: auto;
                    width: 100%;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    
          
}
.bl{
          width: 40%;
         
}
.input {
   width: 10%;
}
}
@media (min-width:1px) and (max-width:761px )
{
          .container {
                    height: auto;
                    width: 90%;
                    align-items: center;
                    flex-direction: column;
                    display: flex;
                    
          
}
.bl{
          width: 80%;
         
}

}


.input {
   width: 90%;
}







































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































sfsgf








































































































































