
.w {
    color: rgb(255, 255, 143);
}

.u {
    color: White;
}


th,td {
border: 0.5px solid ;

}




table{
    background:linear-gradient(90deg, rgb(126, 30, 30) , rgb(255, 194, 136)   );
}

table {
border: 1px solid #030303;

}

.q {
background-color: white;

}
.a {
background-color: rgb(128, 18, 18);
color: white;
}
.z {
    background-color: rgb(128, 18, 18);
color: white;
}
.x {
    background-color: rgb(255, 201, 158);
}








